# HelloAgents LLM配置
# 模型名称，建议使用flash模型以快速响应
LLM_MODEL_ID="xxx"
# API密钥
LLM_API_KEY="xxx"
# 服务地址
LLM_BASE_URL="xxx"
## LLM超时限制
LLM_TIMEOUT=180

# ================================
# Tavily 搜索 API 配置
# ================================
# 获取 API Key: https://app.tavily.com/
TAVILY_API_KEY="xxx"